body{
    margin:0;
}
.header {
    background-color:#616A6B;
    width:auto;
    height:75px;
}

#home{
    color: aquamarine;
    text-decoration: none;
    position: relative;
    left:100px;
    top:30px;
    display: inline-block;
    font-family:cursive;
}
#logo{
    display: block;
    margin: 0 auto;
    height:auto;
    width:60px; 
    margin: 0 0 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left:15px;
    top: 10px;
}

#download{
    color: aquamarine;
    text-decoration: none;
    position: absolute;
    right:380px;
    top:30px;
    display: inline-block;
    font-family:cursive;
}

#blog{
    color: aquamarine;
    text-decoration: none;
    position: absolute;
    right:310px;
    top:30px;
    display: inline-block;
    font-family:cursive;
}
#about{
    color: aquamarine;
    text-decoration: none;
    position: absolute;
    right:200px;
    top:30px;
    display: inline-block;
    font-family:cursive;
}

#contact{
    color: aquamarine;
    text-decoration: none;
    position: absolute;
    right:70px;
    top:30px;
    display: inline-block;
    font-family:cursive;
}
#background{
    width:100%;
    height:800px;
}
/* --------------------------------------------------- */
#text{
        position: absolute;
        left:5%;
        top:10%;
        font-size:350%;
        color:#dddddd;
        /* border: #ffd700 5px solid; */
        padding:15px;
        padding-left: 24.5px;
    }
.paradiv{
    position:absolute;
    top:40%;
    padding-left:15px;
    left: 5%;
    font-size: 200%;
    font-variant: small-caps;
    width:400px;
    color:#101010;
    border: grey 4px solid;
    /* border-top: unset; */
    border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
/* ---------------------------------- */

#second{
    margin:-10px;
    height:650px;
    /* background-color:#84d2b1; */
    background-image: url(laptop.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}

#a{
    background-color:#14debe;
    height: 200px;
    margin-left:15%;
    width:400px;
    position: absolute;
    margin-top:100px;
    border: grey 4px solid;
    border-radius: 20px;
}
#b{
    
    background-color:#14debe;
    height: 200px;
    width:400px;
    margin-left:50%;
    position: absolute;
    margin-top:350px;
    border: grey 4px solid;
    border-radius: 20px;
}

#a h2{
        text-align: center;
        margin-top:30px;
}

#b h2{
    text-align: center;
    margin-top:30px;
}

.f{
    margin-left: 40%;
    margin-top: 10px;
    display:flex;
    width:90px;
}
/* ------------------------------ */


@media only screen and (max-width: 600px){
    #home{
        visibility: hidden;

    }
    #download{
        visibility: hidden;
    }
    #a{
        margin-left: 10%;
    }
    #b{
        margin-left:10%;
    }

    #background{
        width:100%;
        height:800px;
    }
}
